[run]
source = src/
omit =
    tests/*
    venv/*
    setup.py
    */__init__.py

[html]
directory = reportes_cobertura/html/

[report]
precision = 2
show_missing = True
fail_under = 60
branch = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise AssertionError
    raise NotImplementedError
    if TYPE_CHECKING: